html {
  height:calc(100% - 70px);
}

@import url('https://fonts.googleapis.com/css?family=Work+Sans|Questrial|Quicksand|Yantramanav|Lato');

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  height: 100%
}
#root {
  height: 100%;
  width: 100%
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



h4{
  margin: 0.5%
}
#landingPage{
  width:100%;
  /* height:100vh; */
  /* background:url('../images/landingPage2.jpg') no-repeat center center; */
  background-size:cover;
  overflow:hidden;
  padding: 0%
}

.titles {
  margin-bottom: 40px
}

#leftBorder {
  border-left: 3px solid black;
  height : 100%
}

input:invalid+span:after {
  position: absolute;
  content: '✖';
  padding-left: 5px;
}

input:valid+span:after {
  position: absolute;
  content: '✓';
  padding-left: 5px;
}

.mandatory {
  color : red
}
.cardMargin
{
  margin:10px
}

.fixerIcons
{
  /* display: inline;
  margin: 30px 30px 30px 30px; */
  /* padding: 10px; */
  margin: 5px;
  
}

.fixerCard
{
  background-color: black;
}


#carouselExampleIndicators {
  width:1000px;
  height:750px;
}

/* .fixerIcon
{
  margin:30px 0px 30px 0px;
} */

/* .fixerIcons h3
{
  display: inline;
} */

/* .social img 
{    
  padding: 3rem;
} */
