.custom-toggler.navbar-toggler {
  border-color: #0dbab1;
} 


body{
  font-family: 'Work Sans', sans-serif;
}

a:hover{
  color: #0dbab1; 
}

.blueBackground {
  background-color: #0dbab1;
}

.whiteBackground {
  background-color: #fff;
}

.greyBackground {
  background-color: #c0caca;
}

.greenText{
  color: #0dbab1;
}


.message-form{
  
  height: 450px;
  overflow-y: auto
  
}
.messagemobile-form{
  overflow-y: auto;
 
}


.spacing {
  display: table-cell;
  vertical-align: top;
}

.message-container {
  /* border-bottom: 1px solid silver; */
  padding-bottom: 3px;
  padding-top: 3px
}

.message-container .pic {
  background-image: url('https://storage.googleapis.com/lsk-guide-jobs.appspot.com/profile_placeholder.png');
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  background-size: 50px;
  border-radius: 30px;
}

.message-container .smallpic {
  background-image: url('https://storage.googleapis.com/lsk-guide-jobs.appspot.com/profile_placeholder.png');
  background-repeat: no-repeat;
  width: 28px;
  height: 28px;
  background-size: 28px;
  border-radius: 28px;
}

.message-container .spacing {
  display: inline-block;
  vertical-align: top;
}
.message-container .message {
  display: table-cell;
  width: calc(100% - 40px);
  padding: 5px 0 5px 10px;
}
.message-container .name {
  display: inline-block;
  width: 100%;
  padding-left: 10px;
  color: #bbb;
  font-style: italic;
  font-size: 12px;
  box-sizing: border-box;
}
.messageInputContainer {
  margin-top: 20;
  display: flex;
 
}

.messageInputContainer .messageInput {
  display: inline-block;
 margin: 0
 
}

.link {
  color: #707070;
}
.link:hover {
   color: #1B74D1
}

#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@import url('https://fonts.googleapis.com/css?family=Work+Sans|Questrial|Quicksand|Yantramanav');


  #modalStyles {
    top: '50%';
    left: '50%';
    right: '50%';
    bottom: 'auto';
    margin-right: '-50%';
    transform: 'translate(-50%, -50%)';
    width: '90%';
     /* to make the modal scrollable if it is bigger than than the page */
    height: '500px';
    overflow: 'scroll';
  }

  .rounder{
    border: solid 2px blue;
    border-radius: 30px;
  }

  .landing-btn{
    margin-right: 10px;
  }

  .invisibleBorder{
    border: 1px solid white;

  }

  .colorChange:hover {
    background-color: #0dbab1;
    color: #fff; 
  }